    WSGIDaemonProcess jing user=$user group=$group processes=1 threads=5
    WSGIScriptAlias /jing $dir/run
    <Directory $dir/>
       WSGIProcessGroup jing
       WSGIApplicationGroup %{GLOBAL}
       Order deny,allow
       Allow from all
   </Directory>
