{% from theme('_formhelpers.html') import render_field %}
{% extends theme("base.html") %}

{% block title %}修改密码{% endblock %}
{% block css_head %}
    <link href="{{ theme_static('css/passport.css')}}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<form method=post action="{{url_for('passport_change_password')}}" class = "form">
    <div class="control-group">
        <div class="controls">
            {{ render_field(form.current_password) }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            {{ render_field(form.new_password) }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            {{ render_field(form.confirm) }}
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type = "submit" values = "注册" class = "submit_btn">
        </div>
    </div>
</form>

{% endblock %}
