{% extends theme("base.html") %}

{% block banner %}
<div id="banner">
		<div class="banner_list">
			<a target="_blank" href="/images/upload/newRelease/index.html"
				title=""
				style="background: url(http://www.huaguoshan.com/Upload/ads/4.jpg) no-repeat scroll center; opacity: 1; filter: alpha(opacity = 100); z-index: 1"></a><a
				target="_blank" href="/Product/10973.html" title="新西兰佳沛绿奇异果"
				style="background: url(http://www.huaguoshan.com/Upload/ads/1.jpg) no-repeat scroll center; opacity: 0; filter: alpha(opacity = 100); z-index: 0"></a><a
				target="_blank" href="/Product/10983.html" title="台湾香水凤梨"
				style="background: url(http://www.huaguoshan.com/Upload/ads/2.jpg) no-repeat scroll center; opacity: 0; filter: alpha(opacity = 100); z-index: 0"></a><a
				target="_blank" href="/Product/10984.html" title="美国太平洋红玫瑰苹果"
				style="background: url(http://www.huaguoshan.com/Upload/ads/3.jpg) no-repeat scroll center; opacity: 0; filter: alpha(opacity = 100); z-index: 0"></a>
		</div>
		<div class="announcement_main">
			<div class="announcement">
				<a target="_blank" href="/Product/10938.html" title="卡拉红肉脐橙"><img
					src="http://www.huaguoshan.com/Upload/ads/f2.jpg" /></a><a
					target="_blank" href="/Product/10978.html" title="云霄枇杷"><img
					src="http://www.huaguoshan.com/Upload/ads/f1.jpg" /></a>
			</div>
		</div>
		<div class="lunbo_btn">
			<!--<div href="javascript:void(0);" id="btnLeft" class="btnLeft"></div>-->
			<!--<div href="javascript:void(0);" id="btnRight" class="btnRight"></div>-->
		</div>
		<div class="hgs_recommend">
			<div class="hgs_recommend_main clearfix">
				<div class="recommend_product">
					<div class="active_tags flash "></div>
					<a href="/Product/10873.html" class="recommend_product_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/23/10873_thumb.jpg"
						id='picsrc_10873' src="" lazyload="ImageName" /></a>
					<div class="recommend_product_right">
						<div class="recommend_product_title">库尔勒香梨</div>
						<div class="recommend_product_describe">清热解毒 润肺止咳</div>
						<div>
							<div class="recommend_flash_sale" endtime="435046"></div>
							<div class="recommend_product_bottom">
								<div class="recommend_product_border_bottom">
									<span>￥29</span><strong>1500g</strong><s>原价￥38.40</s>
								</div>
								<div class="recommend_product_btn_main clearfix">
									<div class="recommend_flash_sale_num">
										剩<strong>24</strong>份
									</div>
									<a onclick="addToCart(this)" class="recommend_product_sale_btn"
										data-pid='10873'></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="recommend_product_border"></div>
				<div class="recommend_product">
					<div class="active_tags flash "></div>
					<a href="/Product/10987.html" class="recommend_product_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/37/10987_thumb.jpg"
						id='picsrc_10987' src="" lazyload="ImageName" /></a>
					<div class="recommend_product_right">
						<div class="recommend_product_title">泰国青芒</div>
						<div class="recommend_product_describe">核薄肉厚 果汁丰富</div>
						<div>
							<div class="recommend_flash_sale" endtime="435046"></div>
							<div class="recommend_product_bottom">
								<div class="recommend_product_border_bottom">
									<span>￥55</span><strong>2.5kg</strong><s>原价￥78.00</s>
								</div>
								<div class="recommend_product_btn_main clearfix">
									<div class="recommend_flash_sale_num">
										剩<strong>22</strong>份
									</div>
									<a onclick="addToCart(this)" class="recommend_product_sale_btn"
										data-pid='10987'></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="recommend_product">
					<div class="active_tags flash "></div>
					<a href="/Product/10988.html" class="recommend_product_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/38/10988_thumb.jpg"
						id='picsrc_10988' src="" lazyload="ImageName" /></a>
					<div class="recommend_product_right">
						<div class="recommend_product_title">佳沛经典绿奇异果</div>
						<div class="recommend_product_describe">营养密度最高的水果</div>
						<div>
							<div class="recommend_flash_sale" endtime="435046"></div>
							<div class="recommend_product_bottom">
								<div class="recommend_product_border_bottom">
									<span>￥99</span><strong>30个</strong><s>原价￥154.80</s>
								</div>
								<div class="recommend_product_btn_main clearfix">
									<div class="recommend_flash_sale_num">
										剩<strong>24</strong>份
									</div>
									<a onclick="addToCart(this)" class="recommend_product_sale_btn"
										data-pid='10988'></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="recommend_product_border"></div>
				<div class="recommend_product">
					<div class="active_tags flash "></div>
					<a href="/Product/10992.html" class="recommend_product_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/42/10992_thumb.jpg"
						id='picsrc_10992' src="" lazyload="ImageName" /></a>
					<div class="recommend_product_right">
						<div class="recommend_product_title">智利有籽红提 仅限深圳地区</div>
						<div class="recommend_product_describe">远古的美味，果汁丰盈，甜彻心扉</div>
						<div>
							<div class="recommend_flash_sale" endtime="53446"></div>
							<div class="recommend_product_bottom">
								<div class="recommend_product_border_bottom">
									<span>￥1</span><strong>200g</strong><s>原价￥9.00</s>
								</div>
								<div class="recommend_product_btn_main clearfix">
									<div class="recommend_flash_sale_num">
										剩<strong>22</strong>份
									</div>
									<a onclick="addToCart(this)" class="recommend_product_sale_btn"
										data-pid='10992'></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block index_body %}
<div class="index_body">
		<div class="index_main">
			<div class="index_title_item clearfix">
				<div class="index_title_item_left">
					<img
						src="http://www.huaguoshan.com/Tpl//Public/Images/xinpin_icon.jpg" /><span>当季新品</span>
				</div>
				<a href="/Category/2.html" target="_blank">更多商品</a>
			</div>
			<div class="clearfix">
				<div class="index_product_main">
					<a href="/Product/10946.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/46/10946_thumb.jpg"
						lazyload="ImageName" id='picsrc_10946'
						src="http://www.huaguoshan.com/Public/Images/46/10946_thumb.jpg" /></a>
					<a href="/Product/10946.html" class="index_product_title"
						target="_blank">海南香甜车厘茄 1kg</a>
					<div class="product_main_describe">cherry tomato，仿佛如同水果般多汁甜美
					</div>
					<div class="product_main_border_bottom">
						<span>￥23.00</span><strong>1kg</strong><s>原价27.60</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10946" data-pid="10946"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10975.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/25/10975_thumb.jpg"
						lazyload="ImageName" id='picsrc_10975'
						src="http://www.huaguoshan.com/Public/Images/25/10975_thumb.jpg" /></a>
					<a href="/Product/10975.html" class="index_product_title"
						target="_blank">菲律宾甜香蕉 特级优选大果 仅限深圳 2kg</a>
					<div class="product_main_describe">甜糯爽滑，享瘦美味</div>
					<div class="product_main_border_bottom">
						<span>￥39.00</span><strong>2kg</strong><s>原价46.80</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10975" data-pid="10975"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10981.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/31/10981_thumb.jpg"
						lazyload="ImageName" id='picsrc_10981'
						src="http://www.huaguoshan.com/Public/Images/31/10981_thumb.jpg" /></a>
					<a href="/Product/10981.html" class="index_product_title"
						target="_blank">智利有籽红提 1kg</a>
					<div class="product_main_describe">远古的美味，果汁丰盈，甜彻心扉</div>
					<div class="product_main_border_bottom">
						<span>￥35.00</span><strong>1kg</strong><s>原价42.00</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10981" data-pid="10981"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10923.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/23/10923_thumb.jpg"
						lazyload="ImageName" id='picsrc_10923'
						src="http://www.huaguoshan.com/Public/Images/23/10923_thumb.jpg" /></a>
					<a href="/Product/10923.html" class="index_product_title"
						target="_blank">台湾红心芭乐 3个</a>
					<div class="product_main_describe">软糯香甜，回味无穷</div>
					<div class="product_main_border_bottom">
						<span>￥33.00</span><strong>3个</strong><s>原价39.60</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10923" data-pid="10923"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main">
					<a href="/Product/10967.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/17/10967_thumb.jpg"
						lazyload="ImageName" id='picsrc_10967'
						src="http://www.huaguoshan.com/Public/Images/17/10967_thumb.jpg" /></a>
					<a href="/Product/10967.html" class="index_product_title"
						target="_blank">云霄枇杷 600g</a>
					<div class="product_main_describe">抵抗雾霾，清肺止咳</div>
					<div class="product_main_border_bottom">
						<span>￥29.00</span><strong>600g</strong><s>原价34.80</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10967" data-pid="10967"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10971.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/21/10971_thumb.jpg"
						lazyload="ImageName" id='picsrc_10971'
						src="http://www.huaguoshan.com/Public/Images/21/10971_thumb.jpg" /></a>
					<a href="/Product/10971.html" class="index_product_title"
						target="_blank">越南青柠 500g</a>
					<div class="product_main_describe">果肉碧绿 通透如玉</div>
					<div class="product_main_border_bottom">
						<span>￥9.00</span><strong>500g</strong><s>原价10.80</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10971" data-pid="10971"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10965.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/15/10965_thumb.jpg"
						lazyload="ImageName" id='picsrc_10965'
						src="http://www.huaguoshan.com/Public/Images/15/10965_thumb.jpg" /></a>
					<a href="/Product/10965.html" class="index_product_title"
						target="_blank">台湾杨桃 仅限深圳地区销售 4个</a>
					<div class="product_main_describe">酸甜可口，细腻多汁</div>
					<div class="product_main_border_bottom">
						<span>￥35.00</span><strong>4个</strong><s>原价42.00</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10965" data-pid="10965"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10969.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/19/10969_thumb.jpg"
						lazyload="ImageName" id='picsrc_10969'
						src="http://www.huaguoshan.com/Public/Images/19/10969_thumb.jpg" /></a>
					<a href="/Product/10969.html" class="index_product_title"
						target="_blank">智利桃驳李 6个</a>
					<div class="product_main_describe">嫩滑多汁 清甜宜人</div>
					<div class="product_main_border_bottom">
						<span>￥49.00</span><strong>6个</strong><s>原价58.80</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10969" data-pid="10969"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main">
					<a href="/Product/10970.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/20/10970_thumb.jpg"
						lazyload="ImageName" id='picsrc_10970'
						src="http://www.huaguoshan.com/Public/Images/20/10970_thumb.jpg" /></a>
					<a href="/Product/10970.html" class="index_product_title"
						target="_blank">台湾白心芭乐 3个</a>
					<div class="product_main_describe">个大味美，养颜佳品</div>
					<div class="product_main_border_bottom">
						<span>￥23.00</span><strong>3个</strong><s>原价27.60</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10970" data-pid="10970"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10938.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/38/10938_thumb.jpg"
						lazyload="ImageName" id='picsrc_10938'
						src="http://www.huaguoshan.com/Public/Images/38/10938_thumb.jpg" /></a>
					<a href="/Product/10938.html" class="index_product_title"
						target="_blank">美国新奇士卡拉红肉脐橙 5个</a>
					<div class="product_main_describe">百年品牌，全新享受。3110
						CaraCara，新年红运来</div>
					<div class="product_main_border_bottom">
						<span>￥50.00</span><strong>5个</strong><s>原价60.00</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10938" data-pid="10938"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10770.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/20/10770_thumb.jpg"
						lazyload="ImageName" id='picsrc_10770'
						src="http://www.huaguoshan.com/Public/Images/20/10770_thumb.jpg" /></a>
					<a href="/Product/10770.html" class="index_product_title"
						target="_blank">进口牛油果 4个</a>
					<div class="product_main_describe">口感细腻绵滑，婴幼儿辅食佳选</div>
					<div class="product_main_border_bottom">
						<span>￥42.00</span><strong>4个</strong><s>原价50.40</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10770" data-pid="10770"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10966.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/16/10966_thumb.jpg"
						lazyload="ImageName" id='picsrc_10966'
						src="http://www.huaguoshan.com/Public/Images/16/10966_thumb.jpg" /></a>
					<a href="/Product/10966.html" class="index_product_title"
						target="_blank">越南红心火龙果 1200g</a>
					<div class="product_main_describe">排毒养颜抗衰老，甜而不胖</div>
					<div class="product_main_border_bottom">
						<span>￥58.00</span><strong>1200g</strong><s>原价69.60</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10966" data-pid="10966"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>

			</div>
			<div class="cut_off_rule clearfix">
				<div class="border">
					<div class="top"></div>
					<div class="bottom"></div>
				</div>
				<a href="/Category/2.html" target="_blank">更多商品</a>
				<div class="border">
					<div class="top"></div>
					<div class="bottom"></div>
				</div>
			</div>
			<div class="index_title_item clearfix">
				<div class="index_title_item_left">
					<img
						src="http://www.huaguoshan.com/Tpl//Public/Images/lihe_icon.jpg" /><span>花果山礼盒</span>
				</div>
				<a href="/Category/6.html" target="_blank">更多商品</a>
			</div>
			<div class="clearfix">
				<div class="index_product_main">
					<a href="/Product/10924.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/24/10924_thumb.jpg"
						lazyload="ImageName" id='picsrc_10924'
						src="http://www.huaguoshan.com/Public/Images/24/10924_thumb.jpg" /></a>
					<a href="/Product/10924.html" class="index_product_title"
						target="_blank">梅开五福 礼盒（小） 小礼盒装</a>
					<div class="product_main_describe">智利有籽红提 美国新奇士阳光脐橙 佳沛绿奇异果
						新奇士柠檬 智利加力果</div>
					<div class="product_main_border_bottom">
						<span>￥79.00</span><strong>小礼盒装</strong><s>原价94.80</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10924" data-pid="10924"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10954.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/4/10954_thumb.jpg"
						lazyload="ImageName" id='picsrc_10954'
						src="http://www.huaguoshan.com/Public/Images/4/10954_thumb.jpg" /></a>
					<a href="/Product/10954.html" class="index_product_title"
						target="_blank">赤“橙”之心 礼盒（小） 小礼盒装</a>
					<div class="product_main_describe">美国华盛顿红蛇果 美国新奇士阳光脐橙
						佳沛意大利奇异果 台湾莲雾</div>
					<div class="product_main_border_bottom">
						<span>￥99.00</span><strong>小礼盒装</strong><s>原价118.80</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10954" data-pid="10954"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10925.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/25/10925_thumb.jpg"
						lazyload="ImageName" id='picsrc_10925'
						src="http://www.huaguoshan.com/Public/Images/25/10925_thumb.jpg" /></a>
					<a href="/Product/10925.html" class="index_product_title"
						target="_blank">春盈四海 礼盒（大） 礼盒装</a>
					<div class="product_main_describe">澳洲西梅 佳沛绿奇异果 法国青苹果 智利加力果
						安岳黄柠檬 台湾莲雾</div>
					<div class="product_main_border_bottom">
						<span>￥168.00</span><strong>礼盒装</strong><s>原价201.60</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10925" data-pid="10925"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10926.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/26/10926_thumb.jpg"
						lazyload="ImageName" id='picsrc_10926'
						src="http://www.huaguoshan.com/Public/Images/26/10926_thumb.jpg" /></a>
					<a href="/Product/10926.html" class="index_product_title"
						target="_blank">吉祥如意 礼盒（大） 礼盒装</a>
					<div class="product_main_describe">澳洲西梅 台湾莲雾 佳沛奇异果 新西兰奇异莓
						进口蓝莓 美国红玫瑰</div>
					<div class="product_main_border_bottom">
						<span>￥268.00</span><strong>礼盒装</strong><s>原价321.60</s>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10926" data-pid="10926"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>

			</div>
			<div class="cut_off_rule clearfix">
				<div class="border">
					<div class="top"></div>
					<div class="bottom"></div>
				</div>
				<a href="/Category/6.html" target="_blank">更多商品</a>
				<div class="border">
					<div class="top"></div>
					<div class="bottom"></div>
				</div>
			</div>
			<div class="index_title_item clearfix">
				<div class="index_title_item_left">
					<img
						src="http://www.huaguoshan.com/Tpl//Public/Images/lipinka_icon.jpg" /><span>花果山礼品卡</span>
				</div>
				<a href="/Category/10.html" target="_blank">更多商品</a>
			</div>
			<div class="clearfix">
				<div class="index_product_main">
					<a href="/Product/10846.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/46/10846_thumb.jpg"
						lazyload="ImageName" id='picsrc_10846'
						src="http://www.huaguoshan.com/Public/Images/46/10846_thumb.jpg" /></a>
					<a href="/Product/10846.html" class="index_product_title"
						target="_blank">花果山礼品卡￥100 1张</a>
					<div class="product_main_describe">精致美观，时尚大方。企业福利、送礼馈赠优上之选。</div>
					<div class="product_main_border_bottom">
						<span>￥100.00</span><strong>1张</strong>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10846" data-pid="10846"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10845.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/45/10845_thumb.jpg"
						lazyload="ImageName" id='picsrc_10845'
						src="http://www.huaguoshan.com/Public/Images/45/10845_thumb.jpg" /></a>
					<a href="/Product/10845.html" class="index_product_title"
						target="_blank">花果山礼品卡￥200 1张</a>
					<div class="product_main_describe">精致美观，时尚大方。企业福利、送礼馈赠优上之选。</div>
					<div class="product_main_border_bottom">
						<span>￥200.00</span><strong>1张</strong>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10845" data-pid="10845"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10844.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/44/10844_thumb.jpg"
						lazyload="ImageName" id='picsrc_10844'
						src="http://www.huaguoshan.com/Public/Images/44/10844_thumb.jpg" /></a>
					<a href="/Product/10844.html" class="index_product_title"
						target="_blank">花果山礼品卡￥500 1张</a>
					<div class="product_main_describe">精致美观，时尚大方。企业福利、送礼馈赠优上之选。</div>
					<div class="product_main_border_bottom">
						<span>￥500.00</span><strong>1张</strong>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10844" data-pid="10844"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>
				<div class="index_product_main_border"></div>
				<div class="index_product_main">
					<a href="/Product/10843.html" class="index_product_main_img"
						target="_blank"><img class="lazy"
						src="http://www.huaguoshan.com/Tpl//Public/Images/loading.jpg"
						data-original="http://www.huaguoshan.com/Public/Images/43/10843_thumb.jpg"
						lazyload="ImageName" id='picsrc_10843'
						src="http://www.huaguoshan.com/Public/Images/43/10843_thumb.jpg" /></a>
					<a href="/Product/10843.html" class="index_product_title"
						target="_blank">花果山礼品卡￥1000 1张</a>
					<div class="product_main_describe">精致美观，时尚大方。企业福利、送礼馈赠优上之选。</div>
					<div class="product_main_border_bottom">
						<span>￥1000.00</span><strong>1张</strong>
					</div>
					<a class="product_main_btn" onclick="addToCart(this)" name="pid"
						value="10843" data-pid="10843"><img
						src="http://www.huaguoshan.com/Tpl//Public/Images/add_cart_btn.jpg" /></a>
				</div>

			</div>
			<div class="cut_off_rule clearfix">
				<div class="border">
					<div class="top"></div>
					<div class="bottom"></div>
				</div>
				<a href="/Category/10.html" target="_blank">更多商品</a>
				<div class="border">
					<div class="top"></div>
					<div class="bottom"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block footer_js %}
	<script type="text/javascript">
/**
var host = window.location.host;
if (host == 'www.huaguoshan.com' || host == 'huaguoshan.com' ) {
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://" );
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Faaf7105f4ca6e5c7b7816c6dc265422a' type='text/javascript'%3E%3C/script%3E"));

 var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://www.huaguoshan.com/sE2d3djLk/";
    _paq.push(['setTrackerUrl', u+'analysis.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'analysis.js'; s.parentNode.insertBefore(g,s);
  })();
  }**/
</script>


<!--轮播-->
<script type="text/javascript">

$(document).ready(function(){		
	var aPage = $('#banner .lunbo_btn span');		//分页按钮
	var aImg = $('#banner .banner_list a');		//图像集合
	var iSize = aImg.size();		//图像个数
	var index = 0;		//切换索引
	var t;
	$('#btnLeft').click(function(){		//左边按钮点击
		index--;
		if(index<0){
			index=iSize-1
		}
		change(index)
	})
	$('#btnRight').click(function(){    //右边按钮点击
		index++;
		if(index>iSize-1){
			index=0
		}
		change(index)
	})
	//分页按钮点击
	aPage.click(function(){
		index = $(this).index();
		change(index)
	});
	//切换过程
	function change(index){
		aPage.removeClass('hover');
		aPage.eq(index).addClass('hover');
		aImg.stop();
		//隐藏除了当前元素，所以图像
		aImg.eq(index).siblings().animate({
			opacity:0,'z-index': 0
		},1000)
		//显示当前图像
		aImg.eq(index).animate({
			opacity:1,'z-index' : 1
		},1000)
	}
	 
	function autoshow() {
		index=index+1;
		if(index<=iSize-1){
		   change(index);
		}else{
			index=0;
			change(index);
		}
			
	}

	var banner = setInterval(autoshow,5000);
	function clearInt() {        
		$('#btnLeft,#btnRight,.banner_list,.lunbo_btn span').mouseover(function() {
			clearInterval(banner);
		})
		
		$('#btnLeft,#btnRight,.banner_list,.lunbo_btn span').click(function() {
			clearInterval(banner);
		})
	
	}
	function setInt() {
		$('#btnLeft,#btnRight,.banner_list,.lunbo_btn span').mouseout(function() {
			banner = setInterval(autoshow,5000);
		})
	}
	clearInt();
	setInt();

    
    var timer = $(".recommend_flash_sale").not('[endtime="0"]');
    $.each(timer,function(i,n){
        i = setInterval(function(){
            left_time = parseInt($(n).attr('endtime'));
            // gid = parseInt($(n).attr('rel'))
            if(left_time > 0){
                $(n).attr('endtime',(left_time - 1));
                var ls = parseInt(left_time % 86400);
                var ld = parseInt(left_time / 86400);
                var lh = parseInt(ls / 3600) ;
                var lm = parseInt((ls % 3600) / 60);
                ls = parseInt(ls % 60);
                ld = ld > 0 ? (ld < 10 ? '0'+ld :ld )+'天' : '';
                lh = lh < 10 ? "0"+lh : lh;
                lm = lm < 10 ? "0"+lm : lm;
                ls = ls < 10 ? "0"+ls : ls;
                html = ld+" "+lh+"小时 "+lm+"分 "+ls+"秒";            
            } else {
                 html = "<span>已经抢购结束了</span>";
                 clearInterval(i);
            }
            $(n).html(html);
        },1000);
    });
    
    
 
})
</script>
{% endblock %}